{
  "openapi": "3.0.1",
  "info": {
    "title": "FlexAI API",
    "description": "API for managing datasets, fine-tuning models, and handling ML tasks",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.getflex.ai/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/auth": {
      "post": {
        "summary": "Validate API Key",
        "operationId": "validateApiKey",
        "responses": {
          "200": {
            "description": "Successful authentication",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "auth": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/datasets/generate_upload_urls": {
      "post": {
        "summary": "Generate Upload URLs for Dataset Files",
        "operationId": "generateUploadUrls",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DatasetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "train_upload_url": {
                      "type": "string"
                    },
                    "eval_upload_url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/datasets": {
      "get": {
        "summary": "List Datasets",
        "operationId": "listDatasets",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Dataset"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/models": {
      "get": {
        "summary": "List Models",
        "operationId": "listModels",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Model"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/tasks": {
      "post": {
        "summary": "Get Task",
        "operationId": "getTask",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Task"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/checkpoints": {
      "post": {
        "summary": "Get Checkpoint",
        "operationId": "listCheckpoints",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCheckpointRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Checkpoint"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/checkpoints/download": {
      "post": {
        "summary": "Get Checkpoint Download URL",
        "operationId": "getCheckpointDownloadUrl",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCheckpointsDownloadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/tasks/cancel": {
      "post": {
        "summary": "Cancel Task",
        "operationId": "cancelTask",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/datasets/create_dataset": {
      "post": {
        "summary": "Create Dataset",
        "operationId": "createDataset",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDatasetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dataset"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/fine_tunes/create_finetune": {
      "post": {
        "summary": "Create Fine-tune",
        "operationId": "createFinetune",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFinetuneRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/tasks/checkpoints": {
      "post": {
        "summary": "Get Task Checkpoints",
        "operationId": "getTaskCheckpoints",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTaskCheckpointsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Checkpoint"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/checkpoints/convert_to_gguf": {
      "post": {
        "summary": "Convert Checkpoint to GGUF",
        "operationId": "convertCheckpointToGGUF",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGGUFCheckpointsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/checkpoints/download_gguf": {
      "post": {
        "summary": "Download GGUF Checkpoint",
        "operationId": "downloadGGUFCheckpoint",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGGUFCheckpointsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DatasetRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Dataset": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "train_rows_count": {
            "type": "integer"
          },
          "eval_rows_count": {
            "type": "integer"
          },
          "max_tokens": {
            "type": "integer"
          },
          "total_tokens": {
            "type": "integer"
          },
          "train_path": {
            "type": "string"
          },
          "eval_path": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          }
        }
      },
      "Model": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "default_config": {
            "type": "object"
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "config": {
            "type": "object"
          },
          "user_id": {
            "type": "string"
          },
          "model_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "checkpoints_count": {
            "type": "integer"
          },
          "total_steps": {
            "type": "integer"
          },
          "dataset_id": {
            "type": "string"
          },
          "engine_data": {
            "type": "object",
            "properties": {
              "runpod_run_id": {
                "type": "string"
              }
            }
          }
        }
      },
      "Checkpoint": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "task_id": {
            "type": "string"
          },
          "storage_key": {
            "type": "string"
          },
          "gguf_conversion_stage": {
            "type": "string"
          },
          "gguf_storage_key": {
            "type": "string"
          },
          "stage": {
            "type": "string"
          }
        }
      },
      "GetTaskRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        }
      },
      "GetTaskCheckpointsRequest": {
        "type": "object",
        "properties": {
          "task_id": {
            "type": "string"
          }
        }
      },
      "GetCheckpointsDownloadRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        }
      },
      "GetCheckpointRequest": {
        "type": "object",
        "properties": {
          "checkpoint_id": {
            "type": "string"
          }
        }
      },
      "CreateDatasetRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "train_rows_count": {
            "type": "integer"
          },
          "eval_rows_count": {            "type": "integer"
        },
        "max_tokens": {
          "type": "integer"
        },
        "total_tokens": {
          "type": "integer"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "CreateFinetuneRequest": {
      "type": "object",
      "required": [
        "name",
        "dataset_id",
        "model",
        "n_epochs",
        "train_with_lora"
      ],
      "properties": {
        "name": {
          "type": "string"
        },
        "model": {
          "type": "string"
        },
        "dataset_id": {
          "type": "string"
        },
        "n_epochs": {
          "type": "integer"
        },
        "train_with_lora": {
          "type": "boolean"
        },
        "batch_size": {
          "type": "integer"
        },
        "wandb_key": {
          "type": "string"
        },
        "learning_rate": {
          "type": "number"
        },
        "n_checkpoints_and_evaluations_per_epoch": {
          "type": "integer",
          "default": 1
        },
        "save_only_best_checkpoint": {
          "type": "boolean",
          "default": false
        },
        "lora_config": {
          "type": "object",
          "additionalProperties": true
        },
        "early_stopping_config": {
          "type": "object",
          "additionalProperties": true
        }
      }
    },
    "CreateGGUFCheckpointsRequest": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "required": ["id"]
    },
    "Error": {
      "type": "object",
      "required": [
        "error",
        "message"
      ],
      "properties": {
        "error": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    }
  },
  "responses": {
    "NotFound": {
      "description": "The specified resource was not found",
      "content": {
        "application/json": {
          "schema": {
            "$ref": "#/components/schemas/Error"
          }
        }
      }
    },
    "BadRequest": {
      "description": "Bad request",
      "content": {
        "application/json": {
          "schema": {
            "$ref": "#/components/schemas/Error"
          }
        }
      }
    },
    "InternalServerError": {
      "description": "Unexpected error",
      "content": {
        "application/json": {
          "schema": {
            "$ref": "#/components/schemas/Error"
          }
        }
      }
    }
  },
  "securitySchemes": {
    "bearerAuth": {
      "type": "http",
      "scheme": "bearer"
    }
  }
}
}
